.ipynb_checkpoints*
.DS_Store
TurbCutout.ipynb
data/channel*
data/example*
__pycache__*
checks/
*.sh
*out

!trainings/
trainings/*
!trainings/saved_models/

trainings/saved_models/*
!trainings/saved_models/current_model